<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="container mx-auto lg:p-20 md:p-10 p-3 "> ">
        <div class="justify-between items-center flex ">
            <h1 class="text-4xl font-bold">Student</h1>
            <button onclick="openModal()"  class="rounded p-3 bg-blue-400 text-white"><svg class="w-[35px] h-[35px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              </button>
        </div>
        <div class="overflow-x-auto" >
            <table class="w-full mt-4 border ">
                <thead>
                    <tr class="bg-black text-white sm:text-base">
                        <th class="p-3 ">ID</th>
                        <th class="p-3 ">Name</th>
                        <th class="p-3 ">Email</th>
                        <th class="p-3 ">Date of Birth</th>
                        <th class="p-3 ">Course</th>
                        <th class="p-3 ">Enrollment Date</th>
                        <th class="p-3 ">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if students %}
                        {% for student in students %}
                        <tr class="text-center">
                            <td class="p-2 border">{{ student.student_id }}</td>
                            <td class="p-2 border">{{ student.first_name }} {{ student.last_name }}</td>
                            <td class="p-2 border max-w-[100px] truncate sm:max-w-none">{{ student.email }}</td>
                            <td class="p-2 border">{{ student.date_of_birth }}</td>
                            <td class="p-2 border">{{ student.course }}</td>
                            <td class="p-2 border">{{ student.enrollment_date }}</td>
                            <td class="p-2 border">
                                <button onclick="EditModal('{{ student.student_id }}', '{{ student.first_name }}', '{{ student.last_name }}', '{{ student.email }}', '{{ student.date_of_birth }}', '{{ student.course }}', '{{ student.enrollment_date }}')"
                                    class="text-green-500 hover:text-green-700 p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M12 20h9" />
                                        <path d="M16.5 3.5a2.121 2.121 0 1 1 3 3L7 19l-4 1 1-4Z" />
                                    </svg>
                                </button>
                                <button onclick="DeleteModal('{{ student.student_id }}', '{{ student.first_name }}')"
                                    class="text-red-500 hover:text-red-700 p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="p-4 text-center text-gray-500">No students found.</td>
                        </tr>
                    {% endif %}
                </tbody>
                
            </table>
        </div>
        
    </div>

<div id="studentModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-6 rounded shadow-md w-96">
        <h2 class="text-xl mb-4 font-bold">Student Form</h2>
        <form id="studentForm" method="POST">
            {% csrf_token %}
                <input type="text" name="first_name" maxlength="100" placeholder="First Name" class="w-full p-2 border mb-2" required id="id_first_name">
                <input type="text" name="last_name" maxlength="100" placeholder="Last Name" class="w-full p-2 border mb-2" required id="id_last_name">
                <input type="email" name="email" maxlength="254" placeholder="Email" class="w-full p-2 border mb-2" required id="id_email">
                <label for="date_of_birth" class="block mb-2 font-semibold">Date of Birth:</label>
                <input type="date" name="date_of_birth" placeholder="Date of Birth" class="w-full p-2 border mb-2" required id="id_date_of_birth">
                <input type="text" name="course" placeholder="Course" class="w-full p-2 border mb-2" maxlength="100" required id="id_course">
                <label for="enrollment_date" class="block mb-2 font-semibold">Enrollment Date:</label>
                <input type="date" name="enrollment_date" placeholder="Enrollment Date" class="w-full p-2 border mb-2" required id="id_enrollment_date"> 
                <div class="w-full flex justify-between items-center px-7 pt-3">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Save</button>
                    <button type="button" onclick="closeModal()" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
                </div>
            </form >
    </div>
</div>

<div id="DeleteModal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-6 rounded shadow-md w-96">
        <h3 id="confirmText" class="text-xl mb-4 font-bold text-center"></h3>
        <input type="hidden" id="deleteStudentId">
        <div class="w-full flex justify-between items-center px-7 pt-3">
            <button onclick="confirmDelete()" class="bg-red-500 text-white px-4 py-2 rounded">Yes</button>
            <button onclick="closeDeleteModal()" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
       </div>
</div>
</div>



<div id="EditModal" class="hidden fixed inset-0 flex justify-center items-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-md w-96">
        <h2 class="text-xl font-bold mb-4">Edit Student</h2>

        <form id="editForm" method="POST" action="{% url 'student_edit' %}">
            {% csrf_token %}
            <input type="hidden" name="student_id" id="edit_student_id">
            <input type="text" name="first_name" placeholder="First Name" class="w-full p-2 border mb-2" required id="edit_first_name">
            <input type="text" name="last_name" placeholder="Last Name" class="w-full p-2 border mb-2" required id="edit_last_name">
            <input type="email" name="email" placeholder="Email" class="w-full p-2 border mb-2" required id="edit_email">
            <input type="date" name="date_of_birth" placeholder="Date of Birth" class="w-full p-2 border mb-2" required id="edit_date_of_birth">
            <input type="text" name="course" placeholder="Course" class="w-full p-2 border mb-2" maxlength="100" required id="edit_course">
            <input type="date" name="enrollment_date" placeholder="Enrollment Date" class="w-full p-2 border mb-2" required id="edit_enrollment_date"> 
            <div class="w-full flex justify-between items-center px-7 pt-3">
                <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Save</button>
                <button type="button" onclick="closeEditModal()" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
            </div>
        </form>
    </div>
</div>
</body>

<script>
function openModal() {
    document.getElementById('studentModal').classList.remove('hidden');
}

function closeModal() {
    document.getElementById('studentModal').classList.add('hidden');
}


function DeleteModal(student_id, student_name) {
    document.getElementById('confirmText').textContent = 'Are you sure you want to delete ' + student_name + '?';
    document.getElementById('deleteStudentId').value = student_id;
    document.getElementById('DeleteModal').classList.remove('hidden');
}

function closeDeleteModal() {
    document.getElementById('DeleteModal').classList.add('hidden');
}

function confirmDelete() {
    let student_id = document.getElementById('deleteStudentId').value;
    window.location.href = `/student_delete/${student_id}/`;
}

function EditModal(student_id, first_name, last_name, email, date_of_birth, course, enrollment_date) {

function formatDate(dateString) {
    let date = new Date(dateString);
    date.setMinutes(date.getMinutes() - date.getTimezoneOffset());
    return date.toISOString().split('T')[0];
}

let formattedDob = formatDate(date_of_birth);
let formattedEnrollDate = formatDate(enrollment_date);


    document.getElementById('edit_student_id').value = student_id;
    document.getElementById('edit_first_name').value = first_name;
    document.getElementById('edit_last_name').value = last_name;
    document.getElementById('edit_email').value = email;
    document.getElementById('edit_date_of_birth').value = formattedDob;
    document.getElementById('edit_course').value = course;
    document.getElementById('edit_enrollment_date').value = formattedEnrollDate;
    document.getElementById('EditModal').classList.remove('hidden');  
}
function closeEditModal() {
    document.getElementById('EditModal').classList.add('hidden'); 
}

</script>


<!-- sweet alert  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the URL parameters
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status'); // Check if status exists

        if (status === 'added') {
            Swal.fire({
                title: "Success!",
                text: "Student added successfully!",
                icon: "success",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            });
        } 
        else if (status === 'deleted') {
            Swal.fire({
                title: "Deleted!",
                text: "Student deleted successfully!",
                icon: "warning",
                confirmButtonColor: "#d33",
                confirmButtonText: "OK"
            });
        }
        else if (status === 'edited') {  // ✅ New case for edited student
            Swal.fire({
                title: "Updated!",
                text: "Student details updated successfully!",
                icon: "info",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            });
        }
        if (status) {
            history.replaceState(null, "", window.location.pathname);
        }
    });
</script>


</html>